{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["react-app", "plugin:react/jsx-runtime", "prettier"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["import", "react", "prettier"],
    "ignorePatterns": ["src/**/*.test.js"],
    "rules": {},
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
