.container {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
}

.container,
.container * {
    box-sizing: border-box;
}

.track {
    width: 100%;
    height: 50%;
    position: relative;
    background-image: linear-gradient(#efefef, #efefef);
    background-position: left center;
    background-size: 110% 2px;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.track:hover {
    cursor: pointer;
}

.trackInner {
    height: 2px;
    width: 0;
    background-color: #0075ff;
}

.handler {
    position: absolute;
    top: -3px;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-shadow: 1px 1px 2px grey;
    pointer-events: none;
}

.handler.dragging {
    box-shadow: 0 0 2px grey;
}

.loading {
    background-image: repeating-linear-gradient(
        -45deg,
        #d7d7d7,
        #d7d7d7 5px,
        #efefef 5px,
        #efefef 10px
    );
    animation: loading-anim 100ms linear infinite;
}

@keyframes loading-anim {
    from {
        background-position: 0;
    }
    to {
        background-position: 14px;
    }
}
