.container {
    display: flex;
    padding-top: 1em;
}

.sources .platform {
    font-size: 1.5em;
    border-radius: 100%;
}

.download,
.download[href] {
    color: inherit;
}

.download:hover {
    color: var(--sl-color-primary-500);
}

.play {
    border: 1px solid var(--sl-color-neutral-500);
    border-radius: 100%;
    margin: 0 0.25em 0 1em;
}

.play:hover {
    color: var(--sl-color-primary-500);
    border-color: var(--sl-color-primary-500);
}

.playing {
    padding: 1px;
    margin: 0 0.25em 0 1em;
    border-radius: var(--sl-border-radius-circle);
    animation: pulse-animation 2s infinite;
}

.actions {
    margin-left: auto;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px var(--msdos-shadow-color-start);
    }
    100% {
        box-shadow: 0 0 0 15px var(--msdos-shadow-color-end);
    }
}
