.container {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    border-left: 1px solid var(--msdos-color-neutral-400);
}

.elapsed,
.separator,
.total {
    color: var(--msdos-color-neutral-400);
    font-size: 0.7em;
    white-space: nowrap;
}

.elapsed {
    cursor: pointer;
}

.separator {
    padding: 0 0.25ch;
}

.remaining {
    position: relative;
}

.remaining:before {
    content: '-';
    position: absolute;
    left: -0.4em;
    top: -1px;
}
