.container {
    padding: var(--sl-spacing-medium);
    top: 0;
    position: sticky;
    z-index: 10;
    border-bottom: 1px solid var(--sl-color-neutral-200);
    background-color: var(--msdos-header-backdrop-color);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content sl-icon-button {
    background-color: var(--sl-color-neutral-100);
    border-radius: var(--sl-border-radius-large);
}

.content sl-icon-button::part(base) {
    color: var(--sl-color-neutral-500);
}

@media screen and (min-width: 600px) {
    .menu {
        display: none;
    }

    .content {
        flex-direction: row-reverse;
    }

    @supports (backdrop-filter: blur()) {
        .container {
            background-color: transparent;
            backdrop-filter: blur(20px);
        }
    }
}
