.container {
    display: flex;
    align-items: center;
    margin: 0 1em;
    overflow-x: hidden;
    position: relative;
}

.container.masked::before,
.container.masked::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 100%;
    z-index: 10;
}

.container.masked::before {
    left: 0;
    background-image: linear-gradient(90deg, var(--msdos-color-neutral-0), transparent);
}

.container.masked::after {
    right: 0;
    background-image: linear-gradient(90deg, transparent, var(--msdos-color-neutral-0));
}

.title {
    font-size: 0.9em;
    color: var(--msdos-color-neutral-400);
    max-width: 100%;
    white-space: nowrap;
}

.title.rolling {
    animation: rolling-text 12s linear infinite;
}

.title.rolling span {
    padding-right: 1em;
}

@keyframes rolling-text {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(var(--text-roll-width));
    }
}
