.inner {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 250ms ease-out;
}

.tab {
    flex: 1 0 100%;
    height: 100%;
}

.tab.transition {
    opacity: 0;
}

.tab[hidden] {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    height: 0;
}
